@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
.participants {
  height: 585px;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 200px;
  margin-bottom: 140px;
}
.participants .container {
  display: grid;
  grid-template-columns: repeat(12, 83px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-height: 100px;
  align-content: flex-start;
  margin: 0 auto;
  width: 1216px;
  overflow: hidden;
}
.participants__title {
  font-family: Merriweather, serif;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  color: #313131;
  width: 806px;
  grid-column-start: 1;
  grid-column-end: 8;
  margin-bottom: 60px;
  grid-row-start: 1;
}
.participants__buttons {
  grid-column-start: 11;
  grid-column-end: 13;
  justify-self: end;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 151px;
  font-family: Golos Text, sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
  color: #313131;
}
.participants__buttons .back:hover circle {
  fill: #FBCE51;
}
.participants__buttons .back:disabled {
  opacity: 0.7;
}
.participants__buttons .forward:hover circle {
  fill: #FBCE51;
}
.participants__buttons .forward:disabled {
  opacity: 0.7;
}
.participants__buttons_descr_desc span {
  opacity: 0.6;
}
.participants__buttons_descr_mob {
  display: none;
}
.participants__buttons_descr_mob span {
  opacity: 0.6;
}
.participants__buttons .back._mob, .participants__buttons .forward._mob {
  display: none;
}
.participants__buttons .back._mob:hover circle, .participants__buttons .forward._mob:hover circle {
  fill: #FBCE51;
}
.participants__buttons .back._mob:disabled, .participants__buttons .forward._mob:disabled {
  opacity: 0.7;
}
.participants__cards_wrapper {
  width: 2432px;
  height: 462px;
  grid-column-start: 1;
  grid-column-end: 13;
  margin: 0 auuto;
  display: grid;
  grid-template-columns: repeat(24, 83px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-height: 100px;
  align-content: flex-start;
  margin: 0 auto;
  justify-self: center;
}
.participants__card01 {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card01_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card01_name {
  width: 300px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card01_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card01_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card01_ref:hover {
  background-color: #3057A2;
  color: #fff;
}
.participants__card01_img {
  height: 320px;
}
.participants__card02 {
  grid-column-start: 5;
  grid-column-end: 9;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card02_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card02_name {
  width: 286px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card02_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card02_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card02_ref:hover {
  background-color: #3057A2;
  color: #fff;
}
.participants__card03 {
  grid-column-start: 9;
  grid-column-end: 13;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card03_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card03_name {
  width: 286px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card03_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card03_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card03_ref:hover {
  background-color: #3057A2;
  color: #fff;
}
.participants__card04 {
  grid-column-start: 13;
  grid-column-end: 17;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card04_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card04_name {
  width: 286px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card04_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card04_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card04_ref:hover {
  background-color: #3057A2;
  color: #fff;
}
.participants__card05 {
  grid-column-start: 17;
  grid-column-end: 21;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card05_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card05_name {
  width: 286px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card05_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card05_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card05_ref:hover {
  background-color: #3057A2;
  color: #fff;
}
.participants__card06 {
  grid-column-start: 21;
  grid-column-end: 25;
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Golos Text, sans-serif;
  text-align: center;
}
.participants__card06_img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../img/participants_card.png");
}
.participants__card06_name {
  width: 286px;
  font-weight: 700;
  font-size: 24px;
  color: #313131;
  margin-top: 28px;
}
.participants__card06_descr {
  width: 277px;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-top: 8px;
  opacity: 0.6;
}
.participants__card06_ref {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #3057A2;
  border-radius: 62px;
  font-size: 16px;
  color: #3057A2;
  margin-top: 20px;
  transition: background-color color 0.5s linear;
  cursor: pointer;
}
.participants__card06_ref:hover {
  background-color: #3057A2;
  color: #fff;
}

@media (min-width: 360px) and (max-width: 575px) {
  .participants {
    height: 804px;
    width: 100vw;
    margin: 0 auto;
  }
  .participants .container {
    display: grid;
    grid-template-columns: repeat(4, 69px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 100px;
    align-content: flex-start;
    margin: 0 auto;
    width: 336px;
    overflow: hidden;
  }
  .participants__title {
    font-family: Merriweather, serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #313131;
    width: 335px;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 120px;
    margin-bottom: 0;
    grid-row-start: 1;
    margin-bottom: 40px;
  }
  .participants__buttons {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    grid-row-start: 3;
    width: 129px;
    margin-top: 40px;
    transition: fill 0.5s linear;
  }
  .participants__buttons .back._mob, .participants__buttons .forward._mob {
    display: block;
    opacity: 0.7;
  }
  .participants__buttons .back, .participants__buttons .forward {
    display: none;
    opacity: 0.7;
  }
  .participants__buttons_descr_mob {
    display: block;
    font-size: 12.5px;
  }
  .participants__buttons_descr_mob span {
    opacity: 0.6;
  }
  .participants__buttons_descr_desc {
    display: none;
  }
  .participants__cards_wrapper {
    width: 2016px;
    height: 388px;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(24, 69px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 100px;
    align-content: flex-start;
    margin: 0 auto;
    justify-self: center;
  }
  .participants__card01 {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card01_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card01_name {
    width: 290px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card01_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card01_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card01_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
  .participants__card02 {
    grid-column-start: 5;
    grid-column-end: 9;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card02_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card02_name {
    width: 286px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card02_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card02_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card02_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
  .participants__card03 {
    grid-column-start: 9;
    grid-column-end: 13;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card03_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card03_name {
    width: 286px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card03_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card03_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card03_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
  .participants__card04 {
    grid-column-start: 13;
    grid-column-end: 17;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card04_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card04_name {
    width: 286px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card04_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card04_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card04_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
  .participants__card05 {
    grid-column-start: 17;
    grid-column-end: 21;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card05_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card05_name {
    width: 286px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card05_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card05_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card05_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
  .participants__card06 {
    grid-column-start: 21;
    grid-column-end: 25;
    width: 335px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Golos Text, sans-serif;
    text-align: center;
  }
  .participants__card06_img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    background-image: url("../img/participants_card_mob.png");
  }
  .participants__card06_name {
    width: 286px;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    margin-top: 28px;
  }
  .participants__card06_descr {
    width: 277px;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
    margin-top: 8px;
    opacity: 0.6;
  }
  .participants__card06_ref {
    width: 113px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-size: 16px;
    color: #3057A2;
    margin-top: 20px;
    transition: background-color color 0.5s linear;
    cursor: pointer;
  }
  .participants__card06_ref:hover {
    background-color: #3057A2;
    color: #fff;
  }
}/*# sourceMappingURL=participants.css.map */