@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
.stages {
  height: 600px;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 200px;
}
.stages .container {
  display: grid;
  grid-template-columns: repeat(12, 83px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-height: 100px;
  align-content: flex-start;
  margin: 0 auto;
  width: 1216px;
}
.stages__title {
  font-family: Merriweather, serif;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  color: #313131;
  grid-row-start: 1;
  width: 806px;
  grid-column-start: 1;
  grid-column-end: 8;
  margin-bottom: 54px;
}
.stages__ref {
  grid-column-start: 4;
  grid-column-end: 6;
  width: 280px;
  font-size: 20px;
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  color: #3057A2;
  margin-top: 70px;
  margin-left: -10px;
  grid-row-start: 1;
}
.stages__card_01 {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 394px;
  height: 112px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
}
.stages__card_01__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_01__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_02 {
  grid-column-start: 5;
  grid-column-end: 9;
  width: 394px;
  height: 112px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
}
.stages__card_02__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_02__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_03 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 394px;
  height: 244px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
}
.stages__card_03__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_03__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_04 {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 394px;
  height: 112px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
  margin-top: 20px;
}
.stages__card_04__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_04__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_05 {
  grid-column-start: 5;
  grid-column-end: 9;
  width: 394px;
  height: 112px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
  margin-top: 20px;
}
.stages__card_05__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_05__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_06 {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 394px;
  height: 136px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
  margin-top: 20px;
}
.stages__card_06__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_06__descr {
  width: 302px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_07 {
  grid-column-start: 5;
  grid-column-end: 13;
  width: 803px;
  height: 136px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: colunm;
  background-image: url("../img/stages_card.jpg");
  font-size: 20px;
  font-family: Golos Text, sans-serif;
  justify-content: start;
  margin-top: 20px;
  grid-row-start: 4;
}
.stages__card_07__number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}
.stages__card_07__descr {
  width: 446px;
  height: 72px;
  font-weight: 500;
  color: #313131;
  margin-top: 20px;
}
.stages__card_07__number {
  margin-left: 20px;
}
.stages__card_07__descr {
  margin-left: 16px;
}
.stages__airplane {
  grid-column-start: 10;
  grid-column-end: 13;
  justify-self: center;
  margin-left: -20px;
  grid-row-start: 4;
  width: 380px;
  height: 240px;
  margin-top: -80px;
  background-image: url("../img/airplane.png");
}
.stages__btns {
  display: none;
}
.stages__card_01_mob {
  display: none;
}
.stages__card_02_mob {
  display: none;
}
.stages__card_03_mob {
  display: none;
}
.stages__card_04_mob {
  display: none;
}
.stages__card_05_mob {
  display: none;
}

@media (min-width: 360px) and (max-width: 575px) {
  .stages {
    height: 810px;
    width: 100vw;
    margin-top: 0px;
  }
  .stages .container {
    display: grid;
    grid-template-columns: repeat(4, 69px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 100px;
    align-content: flex-start;
    margin: 0 auto;
    width: 336px;
  }
  .stages__title {
    font-family: Merriweather, serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #313131;
    width: 335px;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 120px;
    margin-bottom: 0;
  }
  .stages__ref {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: start;
    width: 335px;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 0;
    grid-row-start: 2;
  }
  .stages__card_01_mob {
    margin-top: 148px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/stages_card.jpg");
  }
  .stages__card_01_mob .stages__card_01 {
    margin-top: 42px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_01_mob .stages__card_01__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_01_mob .stages__card_01__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_01_mob .stages__card_02 {
    margin-top: -40px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_01_mob .stages__card_02__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_01_mob .stages__card_02__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_02_mob {
    margin-top: 148px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 300px;
    display: none;
    flex-direction: column;
    background-image: url("../img/stages_card.jpg");
  }
  .stages__card_02_mob .stages__card_03 {
    margin-top: 42px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_02_mob .stages__card_03__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_02_mob .stages__card_03__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_03_mob {
    margin-top: 148px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 300px;
    display: none;
    flex-direction: column;
    background-image: url("../img/stages_card.jpg");
  }
  .stages__card_03_mob .stages__card_04 {
    margin-top: 42px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_03_mob .stages__card_04__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_03_mob .stages__card_04__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_03_mob .stages__card_05 {
    margin-top: -40px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_03_mob .stages__card_05__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_03_mob .stages__card_05__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_04_mob {
    margin-top: 148px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 300px;
    display: none;
    flex-direction: column;
    background-image: url("../img/stages_card.jpg");
  }
  .stages__card_04_mob .stages__card_06 {
    margin-top: 42px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_04_mob .stages__card_06__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_04_mob .stages__card_06__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__card_05_mob {
    margin-top: 148px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 300px;
    display: none;
    flex-direction: column;
    background-image: url("../img/stages_card.jpg");
  }
  .stages__card_05_mob .stages__card_07 {
    margin-top: 42px;
    width: 335px;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: colunm;
    background-image: url("../img/stages_card.jpg");
    font-size: 18px;
    font-family: Golos Text, sans-serif;
  }
  .stages__card_05_mob .stages__card_07__number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
  .stages__card_05_mob .stages__card_07__descr {
    width: 239px;
    height: 72px;
    font-weight: 500;
    color: #313131;
    margin-top: 20px;
  }
  .stages__btns {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 28px;
    justify-self: center;
    display: flex;
    width: 178px;
    heigth: 36px;
    justify-content: center;
    align-items: center;
  }
  .stages__btns .back {
    margin-right: 10px;
    opacity: 0.6;
  }
  .stages__btns .forward {
    margin-left: 10px;
  }
  .stages__btns_circle:not(:last-child) {
    margin-right: 6px;
  }
  .stages__btns_circle {
    opacity: 0.7;
  }
  .stages__card_01 {
    display: none;
  }
  .stages__card_02 {
    display: none;
  }
  .stages__card_03 {
    display: none;
  }
  .stages__card_04 {
    display: none;
  }
  .stages__card_05 {
    display: none;
  }
  .stages__card_06 {
    display: none;
  }
  .stages__card_07 {
    display: none;
  }
  .stages__airplane {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    justify-self: center;
    margin-left: 10px;
    width: 335px;
    height: 182px;
    margin-top: 20px;
    background-image: url("../img/airplane_mob.png");
  }
}/*# sourceMappingURL=stages.css.map */